<div class="card" style="width: 18rem;">
  <div class="card-header p-0">
    <img class="img-fluid" alt="<%= text.title %>" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" loading="lazy">
  </div>
  <div class="card-body">
    <a href="#" class="btn btn-primary">読破済みにする</a>
    <p class="card-title"><%= text.title %></p>
    <p class="card-text">【<%= text.genre %>】</p>
  </div>
</div>
